@{
    ViewData["Title"] = "Privacy Policy2";
}
<h1>@ViewData["Title"]</h1>

<!-- text-color pertenece al archivo privacy2.css -->
<h5 class="text-color">@ViewData["Name"]</h5>
<h5 class="text-color">@ViewData["Lastname"]</h5>

<p>Use this page to detail your site's privacy policy, this page is a Privacy page copy.</p>
