@{
    // Bloque de código de C#
    // Declaración de variables
    ViewBag.Title = "Info Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        <p>Este archivo pertenece al AppController.cs</p>
    </body>
</html>
