@if (Model.Habilidades is not null) {
    <h4> Habilidades </h4>
    <div class="row">
        <ul>
            @foreach (var h in Model.Habilidades) {
                <li>@h.Nombre</li>
            }
        </ul>
    </div>
}
