@if (Model.Habilidades is not null) {
    <h4> Habilidades </h4>
    <div class="row">
        @foreach (var h in Model.Habilidades) {
            <span class="badge bg-primary col offset-md-1">@h.Nombre</span>
        }
    </div>
}
