@model Contacto

@{
    ViewData["Title"] = "Contacto Page";
}

@*
// Muestra todas los errores de validación
<div asp-validation-summary="All" class="text-danger">
</div>
*@
<form asp-controller="Home" asp-action="Contacto" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" type="text" class="form-control" id="Nombre" name="Nombre" aria-describedby="NombreHelp">
        <div id="NombreHelp" class="form-text">Ex. Gandy Esaú Ávila Estrada</div>
        <span asp-validation-for="Nombre" class="badge bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Edad" class="form-label">Edad:</label>
        <input asp-for="Edad" type="number" min="10" max="120" step="1" class="form-control" id="Edad" name="Edad" aria-describedby="EdadHelp">
        <div id="EdadHelp" class="form-text">Ex. 20</div>
        <span asp-validation-for="Edad" class="badge bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email:</label>
        <input asp-for="Email" type="email" class="form-control" id="Email" name="Email" aria-describedby="EmailHelp">
        <div id="EmailHelp" class="form-text">Ex. user@example.com</div>
        <span asp-validation-for="Email" class="badge bg-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Telefono" class="form-label">Teléfono:</label>
        <input asp-for="Telefono" type="tel" class="form-control" id="Telefono" name="Telefono" aria-describedby="TelefonoHelp">
        <div id="TelefonoHelp" class="form-text">Ex. 111-111-1111</div>
        <span asp-validation-for="Telefono" class="badge bg-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@*
// Agrega esta parte de código a la sección de Scripts
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
